.qcf-settings {width: 100%;}
.qcf-options {float:left;border: 1px solid #B52C00;padding: 0 10px 10px 10px;margin: 10px 0 0 0;background:#FFF;width:46%;width: calc(50% - 40px);}
.qcf-options input[type=text], .qcf-options textarea, .qcf-options select, .qcf-options #submit {margin: 2px 0 2px 0;padding: 2px;color: #465069;font-size: 100%;border:1px solid #415063;width:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;height:auto}
.wp-picker-container input.wp-color-picker[type="text"] {width:5em;line-height:18px;margin:0 3px 0 0;padding:3px;0;}
.qcf-options p {margin: 4px 0;padding: 0;}
.qcf-options p span{float:left;display:block;font-weight:bold;}
.qcf-options h2 {color: #005F6B;}
.qcf-options h3 {color: #717DD7;margin: 4px 0 0 0;padding: 0;}
.qcf-options submit input:focus {color: #FFF;}
.qcf-options ul {margin: 0;padding: 0;}
@media screen and (max-width: 600px) {
	.qcf-options {width: calc(100% - 22px);width: -webkit-calc(100% - 22px);}
	}

#qcf_sort { list-style-type: none; margin: 0; padding: 0; width:100%; }
#qcf_sort li { margin: 3px 0; padding: 0.3em 0.8em 0.3em 0.5em; min-height:1.6em; cursor:pointer; border:1px solid #888; clear:left}
#qcf_sort li.button_active { background-color: white;}
#qcf_sort li.button_inactive { background-color: #E0E0E0;}
#qcf_sort li div {overflow:hidden;}

.qcf-style td {border-top: 1px solid #005F6B;padding: 5px 10px 5px 0;max-width: 400px;vertical-align:top;}
.qcf-style td b {color: #005F6B;}
.qcf-style th {padding: 5px 10px 5px 0;max-width: 400px;text-align: left;color: #005F6B;}
