.wrapper {padding: 0 15px;}
.qcf-settings {width: 100%;}
.qcf-options {float:left;border: 1px solid #B52C00;padding: 0 10px 10px 10px;margin: 10px 0 0 0;background:#FFF;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;width:46%;}
.qcf-options table input[type=text], .qcf-options textarea, .qcf-options table select {margin: 2px 0 2px 0;padding: 2px;color: #465069;font-size: 100%;border:1px solid #415063;width:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;height:auto;line-height:normal;}
.qcf-options input[type=text] {color: #465069;font-size: 100%;border:1px solid #415063;width:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;height:auto;line-height:normal;}
.wp-picker-container input.wp-color-picker[type="text"] {width:5em;line-height:18px;margin:0 3px 0 0;padding:3px;0;}
.qcf-options table {width:100%;}
.qcf-options td {vertical-align:top;}
.qcf-options p {margin: 4px 0;padding: 0;}
.qcf-options h2 {color: #005F6B;}
.qcf-options h3 {color: #717DD7;margin: 4px 0 0 0;padding: 0;}
.qcf-options submit input:focus {color: #FFF;}
.qcf-options ul {margin: 0;padding: 0;}
@media screen and (max-width: 600px) {
	.qcf-options {width: 100%;}
	}
#qcf_sort { list-style-type: none; margin: 0; padding: 0; width:100%; }
#qcf_sort li { margin: 3px 0; padding: 0.3em 0.8em 0.3em 0.5em; min-height:1.6em; cursor:pointer; border:1px solid #888; clear:left}
#qcf_sort li.button_active { background-color: white;}
#qcf_sort li.button_inactive { background-color: #E0E0E0;}
#qcf_sort li div {overflow:hidden;}

#qcf-widget td {border-top: 1px solid #005F6B;padding: 5px 10px 5px 0;max-width: 400px;vertical-align:top;}
#qcf-widget td b {color: #005F6B;}
#qcf-widget th {padding: 5px 10px 5px 0;max-width: 400px;text-align: left;color: #005F6B;}
